.pinkText{
    color: rgb(219, 160, 206);
}
.pinkdText {
    color: rgb(58, 152, 239)
}

#h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#p{
    font-family:'Times New Roman', Times, serif;
}